$default-font-family: 'Anton', sans-serif;
$default-font-color: green;

.transactionlist-content {
    padding: 0px;
    margin: 2em;    
}

.transactionlist-content h3 {
    font-family: $default-font-family;
    color: $default-font-color;
}

.transactionlist-content a {
    color: $default-font-color;
}

.positive {
    color: green;
}

.negative {
    color: red;
}

.amountPaid {
    font-weight: bold;
}

.mat-table {
    border-radius: 10px;
}

.mat-icon-button {
    width: auto;    
  }
    
  .mat-table {
    overflow: auto;
  }

mat-cell:nth-child(1),
mat-header-cell:nth-child(1) {
    flex: 0 0 10%;
}

mat-cell:nth-child(2),
mat-header-cell:nth-child(2) {
    flex: 0 0 10%;
}

mat-cell:nth-child(3),
mat-header-cell:nth-child(3) {
    flex: 0 0 20%;
}

mat-cell:nth-child(4),
mat-header-cell:nth-child(4) {
  flex: 0 0 12%;  
}

mat-cell:nth-child(7),
mat-header-cell:nth-child(7) {
  flex: 0 0 12%;
}
  
  .mobile-label {
    display: none;
    padding: 0;
  }
  
@media(max-width: 600px) {
    .mobile-label {      
      width: 70px;
      display: inline-block;
      font-weight: bold;
      padding: 0em;
      color: $default-font-color;
    }
  
    .mat-header-row {
      display: none;
    }
  
    .mat-row { 
      flex-direction: column;
      align-items: start;
      padding: 8px 24px;
      padding-bottom: 0px
    }

    mat-cell:first-of-type, mat-footer-cell:first-of-type, mat-header-cell:first-of-type {
         padding-left: 2px; 
    }

    mat-cell, mat-footer-cell, mat-header-cell {
      min-height: 40px;
      
    }
    
    mat-footer-row::after, mat-header-row::after, mat-row::after {
      min-height: 20px;            
    }  
}