@import "./../../../variables.scss";

.mat-elevation-z8 {
  border-radius: 10px;
}

.transactionlist-content {
    padding: 0px;
    margin: 2em;       
}

.transactionlist-content h3 {
    font-family: $default-font-family;
    color: $main-color;
}

.transactionlist-content a {
    color: $main-color;
}

.positive {
    color: green;
}

.negative {
    color: red;
}

.amountPaid {
    font-weight: bold;
}

.mat-table {
    overflow: auto;
    border-radius: 10px;
}

.mat-icon-button {
    width: auto;    
  }
  
.mat-header-cell {
    background: $table-header-color!important;
    color:$main-color;
    justify-content: center;    
  }

.mat-table-header {    
    display:flex;
    justify-content:center;
}

.mat-sort-header-arrow {
    color:$main-color
}  

  .mat-cell {
    font-size: 14px;
    min-height: 35px;
    border-width: thin;
    border-color: $table-header-color;
    justify-content: center;
  }

  mat-cell:nth-child(1),
  mat-header-cell:nth-child(1) {
      flex: 0 0 10%;
  }

mat-cell:nth-child(2),
mat-header-cell:nth-child(2) {
    flex: 0 0 10%;
}

mat-cell:nth-child(3),
mat-header-cell:nth-child(3) {
    flex: 0 0 20%;
}

mat-cell:nth-child(4),
mat-header-cell:nth-child(4) {
  flex: 0 0 12%;  
}

mat-cell:nth-child(7),
mat-header-cell:nth-child(7) {
  flex: 0 0 12%;
}
  
  .mobile-label {
    display: none;
    padding: 0;
  }
  
@media(max-width: 600px) {
    .mobile-label {      
      width: 70px;
      display: inline-block;
      font-weight: bold;
      padding: 0em;
      color: $main-color;
    }

    .mat-header-cell {
      background: $table-header-color;
      color:$main-color;
    }    
  
    .mat-header-row {
      display: none;
      text-align: left;
    }    
  
    .mat-row { 
      flex-direction: column;
      align-items: start;
      padding: 8px 24px;
      padding-bottom: 0px;
    }

    .mat-cell {      
      border-style: none;
      border-bottom: $table-header-color;
      justify-content: left;                               
    }     

    mat-cell:first-of-type, mat-footer-cell:first-of-type, mat-header-cell:first-of-type {
         padding-left: 2px; 
    }

    mat-cell, mat-footer-cell, mat-header-cell {
      min-height: 40px;            
    }
    
    mat-footer-row::after, mat-header-row::after, mat-row::after {
      min-height: 20px;            
    }  
}